<mat-nav-list>
  <a *ngIf="!(isAuthenticated$ | async)" mat-list-item routerLink="/signup" (click)="onToggleSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">{{ 'NAVIGATION.SIGNUP' | translate }}</span>
  </a>
  <a *ngIf="!(isAuthenticated$ | async)" mat-list-item routerLink="/login" (click)="onToggleSidenav()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">{{ 'NAVIGATION.LOGIN' | translate }}</span>
  </a>
  <a *ngIf="(isAuthenticated$ | async)" mat-list-item routerLink="/training" (click)="onToggleSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">{{ 'NAVIGATION.TRAINING' | translate }}</span></a>
  <mat-list-item *ngIf="(isAuthenticated$ | async)">
    <button mat-icon-button (click)="onToggleSidenav();logout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">{{ 'NAVIGATION.LOGOUT' | translate }}</span>
    </button>
  </mat-list-item>
</mat-nav-list>
