<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="{{ 'AUTH.SIGNUP.EMAIL_PLACEHOLDER' | translate }}"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">{{ 'VALIDATION.REQUIRED' | translate }}</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">{{ 'VALIDATION.EMAIL' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field
      hintLabel="{{ 'VALIDATION.AT_LEAST_6' | translate }}">
      <input
        type="password"
        matInput
        placeholder="{{ 'AUTH.SIGNUP.PASSWORD_PLACEHOLDER' | translate }}"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
      <mat-error *ngIf="!pwInput.hasError('minlength')">{{ 'VALIDATION.AT_LEAST_6' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'AUTH.SIGNUP.PASSWORD_PLACEHOLDER' | translate }}" [matDatepicker]="picker"
             [max]="maxDate" ngModel name="birthdate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary">{{ 'AUTH.SIGNUP.AGREE' | translate }}</mat-checkbox>

    <button *ngIf="!isLoading; else matSpinner" type="submit" mat-raised-button color="primary">{{ 'ACTIONS.SUBMIT' |
      translate }}
    </button>
    <ng-template #matSpinner>
      <mat-spinner></mat-spinner>
    </ng-template>
  </form>
</section>
