<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="{{ 'AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate }}"
        formControlName="email"
        name="email"
        required>
      <mat-error *ngIf="emailControl.hasError('required')">{{ 'VALIDATION.REQUIRED' | translate }}</mat-error>
      <mat-error *ngIf="!emailControl.hasError('required')">{{ 'VALIDATION.EMAIL' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field
      hintLabel="{{ 'VALIDATION.AT_LEAST_6' | translate }}">
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="{{ 'AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
        name="password"
        required>
      <mat-hint align="end">{{passwordControl.value?.length}} / 6</mat-hint>
      <mat-error *ngIf="!passwordControl.hasError('minlength')">{{ 'VALIDATION.AT_LEAST_6' | translate }}</mat-error>
    </mat-form-field>
    <button *ngIf="!isLoading; else matSpinner" type="submit" mat-raised-button color="primary">Submit</button>
    <ng-template #matSpinner>
      <mat-spinner></mat-spinner>
    </ng-template>
  </form>
</section>
